{% extends 'base.html.twig' %}

{% block title %} Modifier un bien
{% endblock %}

{% block body %}

    {% include 'Partials/navbar.html.twig' %}
  
        <h1 class="mt-4">Modification d'un Bien</h1>
        {{ form_start(form) }}
            <div class='form-groupe'>
                {{ form_label(form.numero) }}
                {{ form_widget(form.numero) }}
                <div class="form-error">
                    {{ form_errors(form.numero)}}
                </div>
            </div>

            <div class='form-groupe'>
                {{ form_label(form.titre) }}
                {{ form_widget(form.titre) }}
                <div class="form-error">
                    {{ form_errors(form.titre)}}
                </div>
            </div>

            <div class='form-groupe'>
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                <div class="form-error">
                    {{ form_errors(form.description)}}
                </div>
            </div>

            <div class='form-groupe'>
                {{ form_label(form.localisation) }}
                {{ form_widget(form.localisation) }}
                <div class="form-error">
                    {{ form_errors(form.localisation)}}
                </div>

            </div><div class='form-groupe'>
                {{ form_label(form.surface) }}
                {{ form_widget(form.surface) }}
                <div class="form-error">
                    {{ form_errors(form.surface)}}
                </div>
            </div>

            <div class='form-groupe'>
                {{ form_label(form.prix) }}
                {{ form_widget(form.prix) }}
                <div class="form-error">
                    {{ form_errors(form.prix)}}
                </div>
            </div>

              <div class='form-groupe'>
                {{ form_label(form.categorie) }}
                {{ form_widget(form.categorie) }}
                <div class="form-error">
                    {{ form_errors(form.categorie)}}
                </div>
            </div>

              <div class='form-groupe'>
                {{ form_label(form.isFavorite) }}
                {{ form_widget(form.isFavorite) }}
                <div class="form-error">
                    {{ form_errors(form.isFavorite)}}
                </div>
            </div>
        {{ form_end(form) }}
    
{% endblock %}