<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
             <link rel="stylesheet" href="{{asset('CSS/navbar.css')}}">
             <link rel="stylesheet" href="{{asset('CSS/card.css')}}">
             <link rel="stylesheet" href="{{asset('CSS/form.css')}}">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script src="Javascript/signup.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% include 'Partials/navbar.html.twig' %}
        {% endblock %}
    </body>
</html>
